<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Doctors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Member Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1>Sasika DDDDDDD</h1>

    <div class="container">
        <form th:action="@{/members}" th:object="${Members}" method="post">
            <div class="form-group">
                <lable>User Name</lable>
                <input type="email" name="email" id="" th:field="*{email}"/>
            </div>

            <div class="form-group">
                <lable>Password</lable>
                <input type="password" name="password" th:field="*{password}"/>
            </div>

            <button type="submit" class="btn btn-info">Login</button>
        </form>
    </div>
</body>
</html>